
@model Student
@{
	ViewData["Title"] = "Create new student";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create New Student</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div><div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Birth"></label>
            <input asp-for="Birth" class="form-control" />
            <span asp-validation-for="Birth" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Card"></label>
            <input asp-for="Card" class="form-control" />
            <span asp-validation-for="Card" class="text-danger"></span>
        </div>
           
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Level"></label>
            <input asp-for="Level" class="form-control" />
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
           <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-action="Index" asp-controller="Create_new_student" class="btn btn-secondary" style="width:150px">
            back to Item
        </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


